html body {
    background-color: #e5e5e5;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    min-width: 320px;
    height: auto;
    position: relative;
    padding: 0 36px;
    background-color: #FFF;
}

.container .spinner {
    margin-top: 20px;
}

.container .ant-pagination {
    margin-top: 34px;
}